<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <!-- NavBar -->
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto"></ul>
                <a href="/books" class="ml-5 my-2 my-lg-0">Home</a>
                <a href="/logout" class="ml-5 my-2 my-lg-0">Log Out</a>
            </div>
        </nav>
        <div class="row">
            <h1>{{book.title}}</h1>
        </div>
        <div class="row">
            <h2>Author: {{book.author}}</h2>
        </div>
        <div class="row">
            <div class="col">
                <h3>Reviews:</h3>
                {% for review in book.reviews.all %}
                <div class="pl-3 mb-3">
                    <span>Rating: 
                        {% if review.rating == 5 %}
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        {% endif %}
                        {% if review.rating == 4 %}
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        {% endif %}
                        {% if review.rating == 3 %}
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        {% endif %}
                        {% if review.rating == 2 %}
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        {% endif %}
                        {% if review.rating == 1 %}
                        <i class="fa fa-star-o"></i>
                        {% endif %}
                    <br></span>
                    <span><span><a href="/users/{{review.user.id}}">{{review.user.first_name}}</a></span> says: {{review.text}}<br></span>
                    <span>Posted on {{review.created_at.date}}<br></span>
                </div>
                {% endfor %}
            </div>
            <div class="col">
                <h3>Add a Review:</h3>
                <form action="/attempt_review" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="book_id" value="{{book.id}}">
                    <textarea type="text" class="form-control" name="review_text" placeholder = "Write your review here!" required></textarea>
                    <label for="review_rating" class="mt-2">Rating:</label>
                    <select name="review_rating" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <button type="submit" class="btn btn-secondary d-block mx-auto w-50">Submit Review</button></form>
            </div>
        </div>
    </div>
</body>
</html>